@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600;700&display=swap");


:root {
    --my-primary-color: #A8D613;
    --my-primary-hover: #b5dc36;
    --my-primary-text: #212529;
    --btn-hover-color: #6d8b0c;
    --my-border-1: #ededed;
    --my-border-2: #EBEDF8;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "IBM Plex Sans", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    background-color: #fff;
    color: var(--my-primary-text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
}

header,
footer {
    background-color: var(--my-primary-text);
    padding: 40px;
}

footer {
    margin-top: auto;
}


.container {
    max-width: 1300px;
    margin: 0 auto;
}

.page-content {
    margin-bottom: 48px;
}


/*
================== Pagination Styles ==================
*/
.my-pagination-wrap {
    display: flex;
    align-items: end;
    justify-content: end;
    margin-top: 32px;
}

.my-pagination {
    display: flex;
    justify-content: center;
    gap: 12px;
    padding: 9px;
    border: 1px solid var(--my-border-2);
    display: flex;
    width: fit-content;
    border-radius: 6px;
}

.my-pagination .wrap {
    display: flex;
    gap: 8px;
    align-items: center;
}

.my-pagination .page,
.my-pagination .prev,
.my-pagination .next {
    padding: 8px 14px;
    border-radius: 6px;
    font-weight: 500;
    transition: .2s ease;
    outline: none;
    border: none;
    cursor: pointer;
    font-weight: 500;
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: .2s ease;
    cursor: pointer;
    border: 1px solid var(--my-border-1);
}

.my-pagination .prev,
.my-pagination .next {
    background-color: transparent;
    padding: 6px 8px;
}

.my-pagination .page.active {
    background-color: var(--my-primary-color)
}



.my-pagination .page:hover {
    background-color: var(--my-primary-color);
}

.my-pagination .page.jump:hover {
    background-color: transparent;
    border: 1px solid var(--my-border-1);
}

button[disabled],
.my-pagination .disabled {
    cursor: not-allowed;
    opacity: .7;
}



ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.page-title {
    font-size: 28px;
    font-weight: 600;
    margin-top: 8px;
}

.page-sub-title {
    opacity: .7;
    margin-top: 4px;
}

.my-mt-12 {
    margin-top: 24px;
}

.my-mt-16 {
    margin-top: 32px;
}

.my-my-4 {
    margin: 8px 0;
}


/* Status */
.status {
    padding: 4px 12px;
    font-size: 12px;
    font-weight: 500;
    border-radius: 40px;
}

.status.delivered {
    background-color: green;
    color: #fff;
}

.status.canceled {
    background-color: red;
    color: #fff;
}

.status.pending,
.status.processing {
    background-color: #ff9800;
    color: #fff;
}


.text-center {
    text-align: center;
}

/* empty */
.empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-top: 48px;
}

/* =========== Table ============ */
.table table {
    width: 100%;
    border: 1px solid var(--my-border-2);
}

.table table th {
    background-color: wheat;
    background-color: #EBEDF8;
    padding: 12px 8px;
    font-weight: 600;
}

.table table tr {
    background-color: #fff;
}

.table table tr:nth-child(even) {
    background-color: #f3f3f3;
}

.table table td {
    padding: 8px;
    font-size: 14px;
    text-align: center;
    margin: 0 auto;
}

.my-btn {
    padding: 6px 16px;
    border-radius: 6px;
    font-weight: 500;
    transition: .2s ease;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: transparent;
    font-weight: 500;
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    transition: .2s ease;
    font-size: 15px;
    color: var(--my-primary-text);
}

.my-primary-btn {
    background-color: var(--my-primary-color);
    font-weight: 500;
}

.my-primary-btn:hover {
    background-color: var(--btn-hover-color);
    color: #fff;
}

.view-invoice-btn {
    background-color: transparent;
    border: 2px solid var(--my-border-2);
    opacity: .8;
    padding: 8px 12px;
}

.view-invoice-btn:hover {
    background-color: var(--btn-hover-color);
    color: #fff;
    border-color: var(--btn-hover-color);
    opacity: 1;
}

/*
========================||  Portal Header Here  ||=======================
*/
.portal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
    border-bottom: 1px solid var(--my-border-1);
    padding-bottom: 12px;
}

.portal-header .left {
    display: flex;
    align-items: center;
    gap: 16px;
}

.portal-header .left .image-wrap {
    flex-shrink: 0;
    width: 80px;
    height: 80px;
}

.portal-header .left .image-wrap img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    flex-shrink: 0;
    border-radius: 50%;
    border: 6px solid #EBEDF8;
}

.portal-header .left .greeting {
    font-size: 14px;
    font-weight: 400;
    color: #212529;
    opacity: .8;
}

.portal-header .left .name {
    font-size: 20px;
    margin-top: 8px;
    font-weight: 500;
}


/* Header Right */
.portal-header .right .my-points {
    font-weight: 600;
}

.portal-header .right .points {
    color: var(--my-primary-color);
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    margin-top: 8px;
}








/* portal-menus */
.portal-menus {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    margin-bottom: 24px;
    padding: 12px 0;
}

.portal-menus .item {
    background-color: #fff;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    aspect-ratio: 10 / 8;
    justify-content: center;
    transition: .2s ease;
    position: relative;
    box-shadow: 0 4px 16px #00000017;
    border: 1px solid #f4f4f4;
}

.portal-menus .item .icon {
    width: 44px;
    height: 44px;
    background-color: #EBEDF8;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    transition: .2s ease;
    transition: transform 0.4s ease, background-color 0.4s ease;
}



/* Menu Items */
.portal-menus .item .menu-name {
    font-weight: 500;
    font-size: 16px;
}

.portal-menus .item:hover {
    transform: translateY(-4px);
}



.portal-menus .item.active .icon {
    background-color: var(--my-primary-color);
}

.portal-menus .item:hover .icon {
    background-color: var(--my-primary-color);
    animation: swing 0.6s ease-in-out 1;
}

@keyframes swing {
    0% {
        transform: rotate(0deg) scale(1);
    }

    25% {
        transform: rotate(15deg) scale(1.1);
    }

    50% {
        transform: rotate(-15deg) scale(1.1);
    }

    75% {
        transform: rotate(10deg) scale(1.1);
    }

    100% {
        transform: rotate(0deg) scale(1);
    }
}








/*
=========================||  Portal Sub Header Here  ||=======================
*/
.portal-sub-header-wrap {
    display: flex;
    justify-content: center;
}

.portal-sub-header {
    display: flex;
    gap: 28px;
    margin-bottom: 24px;
    list-style: none;
    align-items: center;
    justify-content: center;
    border-bottom: 4px solid #e2e2e2;
    padding-bottom: 8px;
    width: fit-content;
}

.portal-sub-header .item {
    transition: .2s ease;
    font-weight: 500;
    border-bottom: 2px solid transparent;
    padding-bottom: 2px;
    opacity: .75;
    position: relative;
    display: flex;
    align-items: center;
    gap: 8px;
}

.portal-sub-header .item.active,
.portal-sub-header .item:hover {
    opacity: 1;
}

.portal-sub-header .item.active::after,
.portal-sub-header .item:hover::after {
    position: absolute;
    content: '';
    bottom: -12px;
    height: 4px;
    left: 0;
    width: 100%;
    background-color: var(--my-primary-color);
}