.points-summary {
    display: flex;
    align-items: center;
    gap: 16px;
    justify-content: space-between;
    width: 100%;
    background-color: #ECECF6;
    background-color: var(--my-primary-hover);
    padding: 24px;
    border-radius: 16px;
    margin-top: 8px;
    background: linear-gradient(20deg,
            #b5dc36d6 40%,
            #dbff66d6 40%,
            #b5dc36 20%);
}

.points-amount {
    margin-top: 8px;
    font-size: 32px;
    font-weight: 600;
}

.points-value {
    background-color: #fff;
    padding: 16px;
    border-radius: 12px;
}


.point-history-redeem {
    display: grid;
    grid-template-columns: 1fr 350px;
    margin-top: 32px;
    gap: 24px;
}

.point-history-redeem .card {
    box-shadow: 0 2px 16px #00000017;
    padding: 24px;
    border-radius: 12px;
    /* border: 1px solid var(--my-border-1); */
}

.point-history-redeem .history-item {
    border-bottom: 1px solid var(--my-border-1);
    display: flex;
    justify-content: space-between;
    padding: 16px 0;
}

.point-history-redeem .date {
    margin-top: 8px;
    opacity: .7;
    font-size: 14px;
}

.points-change {
    font-size: 18px;
    font-weight: 600;
    opacity: 1;
}

.points-change.positive {
    opacity: .6;
}

.card-title {
    display: flex;
    align-items: center;
    gap: 8px;
}

.redeem-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
}


.redeem-grid .redeem-option {
    /* background-color: var(--my-primary-hover); */
    padding: 16px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    transition: .2s ease;
    box-shadow: 0 2px 16px #00000017;
}

.redeem-grid .redeem-option .discount-amount {
    font-size: 18px;
    font-weight: 700;
}

.redeem-grid .points-cost {
    padding-top: 4px;
    opacity: .8;
    font-size: 14px;
}

.redeem-grid .redeem-option .redeem-btn {
    margin-top: 4px;
    /* background-color: white; */
}









.order-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 16px;
}


.orders-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}

.sort-by {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    flex-shrink: 0;
}

.sort-by select {
    padding: 6px 12px;
    border-radius: 8px;
    border: 1px solid var(--my-border-1);
    background-color: #fff;
    cursor: pointer;
    transition: 0.2s ease;
}

.sort-by select option {
    cursor: pointer !important;
}

.sort-by select:hover {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.sort-by select:focus {
    outline: none;
    border-color: var(--my-primary-hover);
}








.details-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

.details-cards .card {
    box-shadow: 0 2px 16px #00000017;
    box-shadow: 0 0 24px rgba(0, 0, 0, 0.1);
    padding: 24px;
    border-radius: 12px;
    background-color: white;
    /* border: 1px solid var(--my-border-1); */
}

.details-cards .card .item {
    display: flex;
    justify-content: space-between;
    padding: 12px 0;
    border-bottom: 1px solid var(--my-border-1);
    gap: 16px;
}

.details-cards .card .item .key {
    flex-shrink: 0;
    font-weight: 500;
}

.details-cards .card .item .key,
.details-cards .card .item .value {
    opacity: .8;
}

.details-cards .card .item.total .key,
.details-cards .card .item.total .value {
    font-weight: 600;
    font-size: 18px;
    opacity: 1;
}

.details-cards .card .item.point {
    border-bottom: none;
    margin-top: 24px;
    background-color: #b5dc3627;
    border-radius: 12px;
    padding: 12px;
}

.details-cards .order-placed {
    /* opacity: .8; */
}

.details-cards .order-placed .name {
    font-weight: 600;
    color: 000;
    font-size: 18px;
}


.details-cards .card .item.point .key,
.details-cards .card .item.point .value {
    opacity: 1;
    font-weight: 500;
}


.card.order,
.card.payment-info {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: space-between;
}


.card.payment-info .items {
    display: flex;
    flex-direction: column;
    /* gap: 12px; */
}

.card.payment-info .items .key {
    font-weight: 600;
}