<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>My Orders</title>
        <link rel="stylesheet" href="/static/src/css/main.css">
        <link rel="stylesheet" href="/static/src/css/portal.css">
    </head>

    <body>
        <header class="c">
            <div class="container">
                <h2 style="color:#A8D613">Nutrition Portal</h2>
            </div>
        </header>
        <main>


            <section>

                <div class="container">
                    <!--=======================||  Portal Header Here  ||=======================-->
                    <div class="portal-header">
                        <div class="left">
                            <div class="image-wrap">
                                <!-- User Image  -->
                                <img src="/static/src/images/avatar.jpg" alt="profile image" loading="lazy">
                            </div>

                            <div class="">
                                <div class="greeting">Hello,</div>
                                <!-- User Name Here vai -->
                                <div class="name">Tanvir Ahmed</div>
                            </div>
                        </div>

                        <!-- Right -->
                        <div class="right">
                            <div class="my-points">My Points</div>
                            <!-- Total Points Here Boss -->
                            <div class="points">1600</div>
                        </div>
                    </div>



                    <!--============================|| Portal Menus Sub Header Here ||=============================-->
                    <div class="portal-sub-header-wrap">
                        <ul class="portal-sub-header">
                            <li>
                                <a href="/templates/overview.html" class="item "><svg width="20" height="20"
                                        viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <rect x="3" y="3" width="8" height="8" />
                                        <rect x="13" y="3" width="8" height="8" />
                                        <rect x="3" y="13" width="8" height="8" />
                                        <rect x="13" y="13" width="8" height="8" />
                                    </svg>
                                    Overview</a>
                            </li>
                            <li>
                                <a href="/templates/orders.html" class="item active"><svg width="20" height="20"
                                        viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M6 6H20L18 14H8L6 6Z" stroke="currentColor" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round" />
                                        <circle cx="9" cy="20" r="1.5" stroke="currentColor" stroke-width="2" />
                                        <circle cx="17" cy="20" r="1.5" stroke="currentColor" stroke-width="2" />
                                    </svg>My Orders</a>
                            </li>
                            <li>
                                <a href="/templates/points.html" class="item"> <!-- Profile Icon -->
                                    <!-- Star / Points Icon -->
                                    <svg width="20" height="20" viewBox="0 0 24 24" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path d="M12 2l3 7h7l-5.5 4.5 2 7-6-4-6 4 2-7L2 9h7l3-7z" stroke="currentColor"
                                            stroke-width="2" />
                                    </svg>My Points</a>
                            </li>
                            <li>
                                <a href="#" class="item"><!-- Profile Icon -->
                                    <svg width="20" height="20" viewBox="0 0 24 24" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <circle cx="12" cy="8" r="4" stroke="currentColor" stroke-width="2" />
                                        <path d="M4 20c0-4 8-4 8-4s8 0 8 4" stroke="currentColor" stroke-width="2" />
                                    </svg> Profile</a>
                            </li>
                            <li>
                                <a href="#" class="item"> <!-- Address / Location Icon -->
                                    <svg width="20" height="20" viewBox="0 0 24 24" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path d="M12 2C8 2 5 5 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-4-3-7-7-7z"
                                            stroke="currentColor" stroke-width="2" />
                                        <circle cx="12" cy="9" r="2" stroke="currentColor" stroke-width="2" />
                                    </svg>Address</a>
                            </li>
                        </ul>
                    </div>
                </div>

            </section>




            <!--============================|| Page Content Here ||============================-->
            <div class="page-content">
                <div class="container">


                    <!--================== When Items Found ===================-->
                    <div>

                        <div class="" style="text-align: left; width:fit-content;">
                            <!-- back to orders -->
                            <a href="#" class="flex-center back-to-btn">
                                <svg width="20" height="20" viewBox="0 0 24 24" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M15 18L9 12L15 6" stroke="currentColor" stroke-width="2"
                                        stroke-linecap="round" stroke-linejoin="round"></path>
                                </svg> Back To Orders
                            </a>
                        </div>

                        <!-- head -->
                        <div class="order-head" style="margin-top: 12px;">
                            <div class="">
                                <h1 class="page-title">Order Details</h1>
                                <div class="page-sub-title">Order ID : <strong
                                        style="font-weight: 600;">#344334</strong></div>
                            </div>
                            <div style="display: flex;flex-direction: column;align-items: end;">
                                <div class="status delivered">Delivered</div>
                                <!-- order date -->
                                <div>
                                    <div style="margin-top: 8px;font-size: 14px;opacity: .8;"> <span>Order Date:</span>
                                        <span style="font-weight: 500;">09 Feb 2026</span>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="details-cards my-mt-20">
                            <div class="card">
                                <div class="head">
                                    <div class="card-icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
                                            stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                            stroke-linejoin="round">
                                            <path d="M6 2h12v20H6z" />
                                            <path d="M6 6h12M6 12h12M6 18h12" />
                                        </svg>
                                    </div>
                                    <h3 class="title">Order Summary</h3>
                                </div>

                                <div>
                                    <!-- items price -->
                                    <div class="item">
                                        <div class="key">Items Price:</div>
                                        <div class="value my-text-gray ">৳<span>1200</span></div>
                                    </div>
                                    <!-- items price -->
                                    <div class="item">
                                        <div class="key">Shipping:</div>
                                        <div class="value my-text-gray ">৳<span>50</span></div>
                                    </div>
                                    <!-- items price -->
                                    <div class="item">
                                        <div class="key">Tax:</div>
                                        <div class="value my-text-gray ">৳<span>00</span></div>
                                    </div>
                                    <!-- items price -->
                                    <div class="item total">
                                        <div class="key">Total:</div>
                                        <div class="value">৳<span>1250</span></div>
                                    </div>
                                    <!-- items price -->
                                    <div class="item point">
                                        <div class="key">Point Earned:</div>
                                        <div class="value"><span>120</span></div>
                                    </div>
                                </div>
                            </div>


                            <!--=================|| Order Placed Card  ||====================-->
                            <div class="card order">

                                <!-- head -->
                                <div class="head">
                                    <div class="card-icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
                                            stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                            stroke-linejoin="round">
                                            <circle cx="12" cy="7" r="4" />
                                            <path
                                                d="M5.5 21h13a1 1 0 0 0 1-1v-2a4 4 0 0 0-4-4H8.5a4 4 0 0 0-4 4v2a1 1 0 0 0 1 1z" />
                                        </svg>
                                    </div>
                                    <h3 class="title">Order Placed By</h3>
                                </div>

                                <div class="order-placed">
                                    <div> <span style="opacity: .6;font-size: 15px;">Order Placed By,</span>
                                        <div class="name">Md Tanvir
                                            Ahmed</div>
                                    </div>
                                </div>

                                <div style="display: flex;flex-direction: column;">
                                    <div class="address item" style="margin-top: 16px;">
                                        <div class="key">Address:</div> <span class="value my-text-gray ">123 Main
                                            Street

                                            Apartment 4B

                                            Dhaka 1212, Bangladesh</span>
                                    </div>
                                    <div class="phone item">
                                        <div class="key">Phone:</div> <span class="value my-text-gray ">091232323</span>
                                    </div>
                                    <div class="email item">
                                        <div class="key">Email: </div><span
                                            class="value my-text-gray ">tanvir@gamil.com</span>
                                    </div>
                                </div>
                            </div>


                            <!--=================|| Payment Info Card  ||====================-->
                            <div class="card payment-info">

                                <!-- head -->
                                <div class="head">
                                    <div class="card-icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
                                            stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                            stroke-linejoin="round">
                                            <rect x="2" y="7" width="20" height="14" rx="2" ry="2" />
                                            <line x1="2" y1="11" x2="22" y2="11" />
                                        </svg>
                                    </div>

                                    <h3 class="title">Payment Information</h3>
                                </div>


                                <!-- items -->
                                <ul class="items">
                                    <li class="item"> <span class="key">Paymanet Methods:</span> <span>Cash / Credit
                                            Card</span></li>
                                    <li class="item"> <span class="key">Card Ending:</span> <span>**** 1234
                                        </span></li>
                                    <li class="item"> <span class="key">Payment Status:</span> <span>Paid
                                        </span></li>
                                    <li class="item"> <span class="key">Paid On:</span> <span>12 Jan 2026</span>
                                    </li>
                                </ul>

                                <!-- Partial paid -->
                                <div class="partial-paid ">
                                    Partial Paid Info
                                    <ul>
                                        <li class="my-flex-between">
                                            <div class="key">-</div>
                                            <div class="value">৳<span>-</span></div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>




                        <!--==========================|| Order Timeline ||=======================-->
                        <div class="table my-mt-24">
                            <h3>Orders Items</h3>
                            <div class="my-mt-8 order-table">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Product</th>
                                            <th>Price</th>
                                            <th>Quantity</th>
                                            <th>Total</th>
                                            <th>Points</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <!-- single item  -->
                                        <tr>
                                            <td>
                                                <div class="name-img">
                                                    <img class="item-img"
                                                        src="https://www.startech.com.bd/image/cache/catalog/laptop/lenovo/ideapad-slim-3-15arp10/ideapad-slim-3-15arp10-01-500x500.webp"
                                                        alt="item image" loading="lazy">
                                                    <div class="item-name">Whey Protein Powder</div>
                                                </div>
                                            </td>
                                            <td>
                                                <div>৳<span>12,000</span></div>
                                            </td>
                                            <td>
                                                2
                                            </td>
                                            <td>
                                                <div>৳<span>24,000</span></div>
                                            </td>
                                            <td><span class="status delivered">220</span></td>
                                        </tr>
                                        <!-- single item  -->
                                        <tr>
                                            <td>
                                                <div class="name-img">
                                                    <img class="item-img"
                                                        src="https://www.startech.com.bd/image/cache/catalog/laptop/lenovo/ideapad-slim-3i/ideapad-slim-3i-arctic-grey-05-500x500.webp"
                                                        alt="item image" loading="lazy">
                                                    <div class="item-name">Lenovo Laptop 1920px</div>
                                                </div>
                                            </td>
                                            <td>
                                                <div>৳<span>12,000</span></div>
                                            </td>
                                            <td>
                                                1
                                            </td>
                                            <td>
                                                <div>৳<span>12,000</span></div>
                                            </td>
                                            <td><span class="status delivered">126</span></td>
                                        </tr>
                                        <!-- single item  -->
                                        <tr>
                                            <td>
                                                <div class="name-img">
                                                    <img class="item-img"
                                                        src="https://www.startech.com.bd/image/cache/catalog/laptop/lenovo/ideapad-slim-3-15arp10/ideapad-slim-3-15arp10-01-500x500.webp"
                                                        alt="item image" loading="lazy">
                                                    <div class="item-name">New Laptop Hp</div>
                                                </div>
                                            </td>
                                            <td>
                                                <div>৳<span>12,000</span></div>
                                            </td>
                                            <td>
                                                2
                                            </td>
                                            <td>
                                                <div>৳<span>24,000</span></div>
                                            </td>
                                            <td><span class="status delivered">220</span></td>
                                        </tr>


                                    </tbody>
                                </table>
                            </div>
                        </div>





                        <!--==========================|| Order Timeline ||=======================-->
                        <div class="my-mt-24">
                            <h3>Order Timeline</h3>

                            <div class="order-timeline my-mt-8">
                                <div class="timeline-item active">
                                    <div class="timeline-content">
                                        <div class="timeline-head">Pending Confirmation</div>
                                        <div class="timeline-time">09 Feb 2026, 10:00 AM</div>
                                    </div>
                                </div>

                                <div class="timeline-item">
                                    <div class="timeline-content">
                                        <div class="timeline-head">Confirmed</div>
                                        <div class="timeline-time">10 Feb 2026, 02:00 PM</div>
                                    </div>
                                </div>

                                <div class="timeline-item">
                                    <div class="timeline-content">
                                        <div class="timeline-head">Shipped</div>
                                        <div class="timeline-time">10 Feb 2026, 02:00 PM</div>
                                    </div>
                                </div>

                                <div class="timeline-item">
                                    <div class="timeline-content">
                                        <div class="timeline-head">Delivered</div>
                                        <div class="timeline-time">12 Feb 2026, 05:00 PM</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </main>



        <footer></footer>
    </body>

</html>